<% if current_user.access_token.nil? %>
  <h3>Authenticate with the Stack Exchange API</h3>

  <p class="text-muted">To flag things on your behalf, I need an <a href="http://api.stackexchange.com/docs/authentication">access token</a>. Some notes:</p>
  <br>
  <ul>
    <li>I am <a href="http://softwarerecs.stackexchange.com/users/46/undo">Undo</a>. If you don't trust me, stop now.</li>
    <br>
    <li>I could theoretically do <strong class="text-danger">anything I want</strong> with your account. An access token allows an application to perform any write action. I won't do that, but you have to trust me (see the first point if you skipped it)</li>
    <br>
    <li>I promise I won't do anything evil. However, there's always the possibility that the NSA, Amazon, Nigeria, etc. infiltrate my server. If I see any indication that that has happened, I'll send you an email and invalidate your access token. Is this a risk you're willing to take?</li>
  </ul>
  </br>
  <p><a href="https://stackexchange.com/oauth?client_id=5723&scope=write_access,no_expiry&redirect_uri=http://flag-eventually.erwaysoftware.com/access_tokens/redirect" class="btn btn-success">Yes, authenticate</a></p>
  <br>
  <p class="text-muted">If it's not, you can always <a href="https://github.com/Charcoal-SE/flag-eventually">run this yourself</a>.</p>
<% else %>
  <h3>All good</h3>
<% end %>
